<!DOCTYPE html>
<html>
  <head>
    <title>FindTheTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# control the dimensions and scaling of pages %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# makes all JavaScript code available and executes the code in Index.jsx file %>
    <%= javascript_pack_tag 'Index' %>
  </head>

  <body>
    <%# erb view first rendered %>
    <%= yield %>
    <div id="root">
    </div>
  </body>
</html>
